<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Japanese Holiday api</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Japanese Holiday api</h1>

    <p>日本の祝日リストを年別に返すAPIです。</p>

    <h2>使い方</h2>

    <p>
        <code>http://japanese-holiday.herokuapp.com/holidays?year=XXXX</code>
    </p>
    <p>
        XXXXの部分に祝日リストが欲しい年を西暦で入れてアクセスしてください。
    </p>

    <h2>更新情報</h2>

    <p>2014/12/04 公開</p>
    <p>2014/12/03 1970年〜2014年に対応</p>

    <p class="text-muted" style="margin-top: 100px">
        By <a href="http://twitter.com/77web" target="_blank">@77web</a>, Powered by <a href="http://bearsunday.github.io" target="_blank">BEAR.Sunday</a>, <a href="http;//github.com/77web/Japanese.Holiday" target="_blank">Japanese.Holiday</a>
    </p>
</div>
</body>
</html>
